$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: bold;
$font-extra-bold: 800;
$font-family: 'Thiqah_Regular';

$black: #000000;
$white: #FFFFFF;
$silver: #DDE0E1;
$light-gray: #F3F3F1;
$transparent: transparent;
$red: #CF2543;
$warning: #FFDD40;